<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StoreName" value="XXX维修中心" />
    <add key="StoreThank" value="XXX维修中心感谢您的支持及信任，祝您用车愉快，欢迎下次光临!" />
    <add key="StoreTelephone" value="12345678901" />
    <add key="StoreAddress" value="中国" />
    <add key="PrinterName" value="" />
    <add key="FontsName" value="SourceHanSerifSC-Bold.otf" />
  </appSettings>
</configuration>